@media screen and (max-width: 800px)
{img{width:100%;}}

nav {display: block;
position: fixed;
width: 100%;
top:0;
font-size: 20px;
background-color: black;
padding: 15px;}

nav a {text-decoration: none;
padding: 15px;
color: white;
margin: auto;}

nav a:hover{color: orange;}

#welcome-section {
  height: 100vh;
  font-family: Abel;
  font-size: 40px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 800px;)
{#welcome-section{font-size: 20px; }}

body, html {
 display: block;
  font-family: Lato;
  background-color: black;
  color: white;
text-align: center;
font-size: 18px;
margin: 0;
padding: 0;}

#profile, #contact {
  display: box-sizing;
  background-color: orange;
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
}
#profile-link:hover {color: black;}
#footericons:hover {color: black;}
h2 {color: rgba(255,131,0,1);}

#profile-header, #contact-header {
  color: black;}

a {color: white;
text-decoration: none;
}
a:hover {color: orange;}

ul {
  list-style-type: none;  
}


.project-tile{
  display: flex;
  justify-content: center;
  align-items: center; 
}

#box1, #box2, #box3 {
  background-color: white;
  border: 16px solid orange;
  color: black;
  height: 300px;
  width: 360px;
  display: grid;
  place-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 22px;
  margin-bottom: 90px
}

@media screen and (max-width: 800px) {.project-tile {display: grid; grid-template-column: repeat(auto-fill, minmax(300px, 700px)) }}

@media screen and (max-width: 800px) {#box1, #box2, #box3, {width: 100%; justify-content: center; border: white;}}

img {width: 300px; height: 200px;}

#boxlinks {color: black;}
#boxlinks:hover {color: orange;}

#footericons {font-size: 28px;
  padding: 10px;
}

#contact {height: 120px;}
